@charset "UTF-8";
html {
  background-color: #303A71;
  height: 100%;
  font-family: 'Montserrat', sans-serif!important;
  scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif!important;
}

.clr-purple {
 color: #2E3A71;
}

.purple-btn-1 {
  color: white;
  background-color: #2E3A71;
  padding: 10px 80px;
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
}

.search-btn {
  text-decoration: none;
  background-color: #42B549;
  padding: 5px 10px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}

.hover-position {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 190px;
}

.search-btn:hover {
  text-decoration: none;
  background-color: white;
  padding: 5px 10px;
  color: #42B549;
  border: 1px solid #42B549;
  font-weight: 700;
  border-radius: 5px;
}
.mgn-btm--5 {
  margin-bottom: 0.5em;
}

.bg-dark-green {
  background-color: #42B549;
}
.bg-dark-purple {
  background-color: #303A71;
}
.bg-light-purple {
  background-color: #3B3E78;
}
.clr-whte {
  color: white!important;
}
.clr-black {
  color: black!important;
}
.mgn-tp_0 {
  margin-top: 0px!important;
}
.mgn-btm-0 {
  margin-bottom: 0px!important;
}
.mgn-tp-5 {
  margin-top: 5%;
}
.mgn-btm-10 {
  margin-bottom: 10%;
}

.fnt-w8-400 {
  font-weight: 400!important;
}
.fnt-w8-500 {
  font-weight: 500!important;
}

.fnt-w8-600 {
  font-weight: 600!important;
}
.fnt-w8-700 {
  font-weight: 700!important;
}

.bottom-nav {
  background: white;
  border-radius :30px 30px 0px 0px;
}

.back-btn-2 {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.back-btn-2 i {
  font-size: 16px;
  padding-right: 5px;
}

.person {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px #E6E7E8;
  margin-top: 20px;
  padding-top: 10px;
}

.clr-green {
  color: #42B549;
}

.landing-search-cta {
  background-color: #F3F3F3;
  width: 80%;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 4px #42B549;
}

.sign-up {
  background: white;
  border-radius :30px 30px 0px 0px;
}

.landing-content-area {
  background: #F3F3F3;
  border-radius :30px 30px 0px 0px;
}

.profile-content-area {
  background: white;
  border-radius :30px 30px 0px 0px;
}

.label-sign-up {
  margin: 20px 0px 10px 0px;
}

.pd-tp-8{
  padding-top: 8px;
}
.pd-tp-10 {
  padding-top: 10px;
}

.pd-btm-15 {
  padding-bottom: 20px;
}

.see-all-cta {
  text-decoration: none;
  color: #42B549;
}

.mgn-btm-18pc {
  margin-bottom: 18%;
}

.mgn-btm-10pc {
  margin-bottom: 10%;
}

.mgn-tp-15pc {
  margin-top: 15%;
}


.mgn-tp-30pc {
  margin-top: 35%;
}

.bg-whte {
  background: white;
}

.fnt-16 {
  font-size: 16px;
}
.fnt-17 {
  font-size: 17px;
}

.fnt-18 {
  font-size: 18px;
}

.fnt-19 {
  font-size: 19px;
}

.fnt-20 {
  font-size: 20px;
}


.fa, .fas {
  font-size: 22px;
}

.display-flex {
  display: flex;
}

.bottom-navbar {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 0px;
  border-radius :30px 30px 0px 0px;
}

.back-icn {
  font-size: 30px!important;
}

.back-small-btn {
  color: white;
  font-size: 22px;
}

.sign-up-link {
  color: #303a71!important;
  font-weight: 600;
  text-decoration: none;
}



label {
  display: block;
  position: relative;
  margin: 40px 0px;
}

.mgn-unset {
  margin: 0px 0px!important;
}

input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #289F6E;
  transition: ease .6s;
}

.children-count {
  font-size: 80px;
  font-weight: 600;
}

input:focus + .line-box .line {
  width: 100%;
}


.sec-btn {
  background: #303a71!important;
  width: 100%!important;
}

.sec-btn-txt {
  color: white!important;
}

.tet-btn {
  background: #42B549!important;
  width: 100%!important;
  border: 1px solid #42B549;
}

.tet-btn-txt {
  color: white!important;
}

.label-txt {
  position: absolute;
  top: -0.3em;
  padding: 10px;
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: black;
  transition: ease .4s;
  font-family: 'Montserrat', sans-serif!important;
}

.label-active {
  top: -3em;
}

.inv-btn {
  background: white!important;
  width: 100%;
}

.inv-btn-txt {
  color: #666666!important;
}


.mrgn_btm--4 {
  margin-bottom: 0.4em;
}


.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 1.5rem;
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: 0em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
fieldset {
  border: 0;
  width: 100%;
  border-radius: 1px;
}

#log {
  margin: 1em auto;
  width: 5em;
  text-align: center;
  background: transparent;
}

/*Popup modal*/



@media (max-width: 600px) {
  .btn:not(:last-child) {
      width: 100%;
  }
  .back-small-btn {
    position: absolute;
    top: 20px;
  }
  .btn {
      font-size: 1.35714286em;
    }
  section, footer, section.section--even {
      padding-top: 1.571429em;
      padding-bottom: 0em;
  }
  .mgn_btm-xs {
  margin-bottom: 20%!important;
}
}